<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title House Lending
    link(rel="stylesheet", href="css/main.css")
    script(src="js/main.js" defer)
  body#body
    .home
      .animation
        h1 Hello, World!
      .container
        .home-left
          img(src="img/logo.png", alt="",class="home-logo2")
          ul.home-menu
            li
              a(href="#") Квартиры
              .home-hover
            li
              a(href="#") о нас 
              .home-hover
            li
              a(href="#") галерея
              .home-hover
            li
              a(href="#") инфраструктура
              .home-hover
            li
              a(href="#") новoсти
              .home-hover
            li
              a(href="#") Контакты
              .home-hover
          .home-years &#169 2017-2018 EvroMisto
          img.home__img(src="img/footer-logo.png", alt="")
        .home-right
          .home-header
            .home-info
              p.home-address 08136 г.Киев Крюковщина, ул. Жулянская 1А
              p.home-contact 044 290 35 50
            .wrapper
              .home-language
                a(href="#") УКР.
                a(href="#" class="home-rus") РУС.
              .home__button--container
                button.home__button Заказать звонок
          .home__contant
            h1.home__logan Ты должен это увидeть! плати 50% <br> и заселяйся
            div.home__wrap
              p.home__text Не траться на дизайнера - получи  готовый дизайн-проект в подарок
              button.home__call Посмотреть Квартиры


          

