@import 'reset';
body{
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1460px;
  @media (max-width:900px) {
     min-width: 100%;
  }
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  list-style: none;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 93.8vw;
  min-width: 1400px;
  position: relative;
  z-index: 4;
  padding-top: 47px;
  display: flex;
  overflow: hidden;
  @media (max-width:900px) {
    min-width:300px;
    flex-wrap: wrap;
    max-width: 100%;
    padding-top: 10px;
    overflow: initial;
  }
}
.wrapper{
  min-width: 100%;
  display: flex;
  @media (max-width:900px) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
}


.home {
  background: #59b9e7;
  height:100vh;
  min-height: 700px;
  position: relative;
  background-image: url(../img/house.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
  &__menu--button{
    position: sticky;
    top: 4%;
    left: 3%;
    z-index: 101;
    display: none;
    width: 70px;
    height: 70px;
    @media (max-width:900px) {
      display: block;
    }
  }
  .button--active .home__menu--item::before {
    transform: rotate(40deg);
  }
  .button--active .home__menu--item::after{
    transform: rotate(-40deg);
  }
  .button--active .home__menu--item{
    height: 0;
  }
  &__menu--item{
    width: 50px;
    height: 3px;
    background: white;
    transition: 1s;
  }
  &__menu--item::before{
    width: 50px;
    height: 3px;
    background: white;
    transition: 1s;
    content: "";
    position: absolute;
    transform:translateY(15px); 
    }
  &__menu--item::after{
    width: 50px;
    height: 3px;
    background: white;
    transition: 1s;
    position: absolute;
    content: "";
    transform:translateY(30px); 
  }
  @media (max-width:900px) {
    background-image: none;
    min-height: auto;
    height: 100%;
  }
  &-left {
    height: 100%;
    min-width: 300px;
    @media (max-width:900px) {
      min-width: auto;
      margin:0;
      min-width: 100%;
      height: 100vh;
      display: none;
        }
  }

  &-logo2 {
    padding-left: 2px;
    @media (max-width:900px) {
      display: block;
      margin: 0 auto;
    }
  }

  &-menu {
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    @media (max-width:900px) {
      align-items: center;
      font-size: 20px;
    }
  }
  li{
    position: relative;
    overflow: hidden;
    height: 14px;
    transition: 0.3s;
    @media (max-width:900px) {
      height: 20px;
    }
    
    &:hover a{
      margin-left: 5px;
      color: #EA641E;
    }
    &:hover .home-hover{
      left:1.5%;
    }
  }
  .home-hover{
    width: 40px;
    height:14px;
    position: absolute;
    top: 0;
    left:-14%;
    border-bottom: 1px solid white;
    opacity: 0.8;
    transition: 0.3s;
    @media (max-width:900px) {
      display: none;
    }
  }
  a{
    transition: 0.3s;
  }
  &-years{
    color: white;
    font-size: 13px;
    transform: rotate(-90deg);
    margin-top: 0vw;
    margin-left: -280px;
    letter-spacing: 1.7px;
    position: relative;
    @media (max-width:900px) {
      margin-left: 0px;
      margin-top: 50px;
      text-align: center;
      transform: rotate(0)
    }
  }
  &-header{
    display: flex;
    @media (max-width:900px) {
      flex-wrap: wrap;
    }
  }
  &-info{
    color: white;
    display: flex;
    font-size: 12px;
    letter-spacing: 1.15px;
    flex-shrink: 0;
    @media (max-width:900px) {
      flex-wrap: wrap;
      padding-left: 70px;
      width: 100%;
      font-size: 15px;
    }
    
  }
  &-right{
    padding-left: 87px;
    padding-top: 10px;
    width: 100%;
    @media (max-width:900px) {
      padding-left: 0;
    }

  }
  &-address{
    padding-right: 20px;

  }
  &-contact{
    padding-left: 17px;
    border-left: 1px solid white;
    height: 15px;
  }
  &-language{
    margin-left: 30vw;
    @media (max-width:1800px) {
      margin-left: 16vw;
    }
    @media (max-width:900px) {
      display: none;
    }
    a{
      font-size: 12px;
      letter-spacing: 2px;
    }
  }
  &-rus{
    margin-left: 78px;
    color: #acddf3;
    position: relative;
  }
  &-rus::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 5px;
    border-bottom: 1px solid #acddf3;
    top: -2%;
    left: -200%;
  }
  &__button{
    text-transform: uppercase;
    border: 1px solid #b1d9ef;
    background:transparent;
    height: 50px;
    width: 202px;
    color: white;
    border-radius: 98px;
    font-size: 12.2px;
    letter-spacing: 3px;
    &:hover::before{
      width: 100%;
      left: 0;
    }
  }
  &__button--container{
    overflow: hidden;
    margin-left: 3%;
    margin-top: -18px;
    position: relative;
    border-radius: 98px;
  }
  &__button::before{
    content: "";
    width: 0px;
    background: #EA641E;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transition: 1s;
    z-index: -1;
  }
  &__logan{
    width: 520px;
    text-transform: uppercase;
    color:white;
    font-size: 67px;
    font-weight: bold;
    flex-shrink: 0;
  }
  &__text{
    width: 370px;
    color: white;
    line-height: 1.5;
    letter-spacing: 1.2px;
    height: 50px;
  }
  &__contant{
    display: flex;
    padding-top: 30px;
  }
  &__wrap{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 150px;
    width: 6
  }
  &__img{
    position: absolute;
    top: 133%;
    left: 4%;
    @media (max-height:854px){
      top: 100%;
    }
  }
  &__call{
    text-transform: uppercase;
    border: 1px solid #b1d9ef;
    background:#e76d1a;
    height: 50px;
    width: 253px;
    color: white;
    border-radius: 98px;
    font-size: 12.2px;
    letter-spacing: 3px;
    transition: 0.4s;
    
    &:hover{
      background:#58BAE7 ;

    }
  }
}
.animation{
  background: #59b9e7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
  }
}

.animation-up{
  animation-name: animation;
  animation-duration: 3s;
}
@keyframes animation{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.slick{
  top: 0;
  @media (max-width:900px) {
    padding-left:10px;
    padding-right: 10px;
    width: 100%;
  }
  &__slider{
    width: 500px;
    @media (max-width:900px) {
      width: auto;
      
    }
    &--text{
      text-transform: uppercase;
      color:black;
      font-size: 67px;
      font-weight: bold;
      display: flex;
      overflow: hidden;
      @media (max-width:900px) {
        font-size: 40px;
      }
    }
    &--contact a{
      text-transform: uppercase;
      color: red;
      font-size: 50px;
      overflow: hidden;
      font-weight: bold;
      display: flex;
      @media (max-width:900px) {
        font-size: 40px;
      }
      i{
        font-size: 30px;
        color: black;
        transition: 0.5s;
        &:hover{
          color: white;
        }
      }

    }
    &--about{
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
      color: white;
      overflow: hidden;
      font-weight: bold;
    }
  }
  .great a{
    font-size: 70px;
    @media (max-width:900px) {
      font-size: 40px;
      
    }
  }
}
a div{
  width: 400px;
  @media (max-width:900px) {
  width: 300px;
    
  }
}
.hidden{
  opacity: 0;
}
.mixed{
  background: #59b9e7;
  height:100vh;
  min-height: 700px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  @media (max-width:900px) {
    min-height: auto;
    width: 100%;
  }
  .home{
    opacity: 0;
    width: 100%;
  }
  &__logan{
    position: absolute;
    font-size: 100px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-weight: bolder;
    display: flex;
    @media (max-width:900px) {
      font-size: 40px;
    }
  }
}
.number{
  height: 40px;
  overflow: hidden;
  position: relative;
  margin-left: 30px;
  p{
    position: relative;
    font-size: 40px;
  }
}
.animators{
  animation: mymove;
  animation-duration: 2s;
}

@keyframes mymove {
  from {top: -100%;}
  to {top:-900%;}
}